


nav#tablon_name{
  position:relative;
  top: 0%;
  height: 3%;
  float: top;   
}

nav#tablon_name ul{
    width: 100%;
    text-align: left;
    background: #708090;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    border: 2px solid #000;
    list-style: none;
    box-sizing: border-box;/*propiedad css3*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 10px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
  
}


section#left {
  float: left;
  width: 50%;
  height: 100%;
  background-color: #454343;
  border: 2px solid black;
  box-sizing: border-box;/*propiedad css3*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: auto;
}

section#right {
  float: right;
  width: 50%;
  height: 100%;
  background-color: #FFFFFF; 
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  box-sizing: border-box;/*propiedad css3*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

}

section#right textarea{
  
border:2px solid #454343;
padding:10px 40px; 
background:#FFFFFF;
width:65%;
height:400px;
border-radius:25px;
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
position: relative;
top: 40px;
left: 5%;
word-wrap:break-word;

}


.mensaje {

border:2px solid #a0a0a0;
padding:0px 40px; 
background:#FFFFFF;
width:50%;
border-radius:25px;
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
position: relative;
top: 50px;
left: 40px;
}

.mensaje p {word-wrap:break-word;} 


img#moreMessages {

  cursor:pointer;
  position:relative;
  float:right;
  right:15%;
  top:2%;
}



.delete{

cursor:pointer;
position: relative;
left:100%;

}
/*

img#privado{

  width: 7%;
  position:relative;
  top: 20px;
  left: 10%;
  
}



img#grupo{

  width: 7%;
  position:relative;
  top: 20px;
  left: 12%;

}

img#publico{

  width: 7%;
  position:relative;
  top: 20px;
  left: 35%;
}





img#video{
  width: 13%;
  float: left;
}

img#audio{
  width: 13%;
  float: right;
}


img#foto{
  width: 13%;
  position: relative;
  left: 30%;
}
*/

#multimedia{
  
 width:50%;
 position:relative;
 left: 25%; 
 top: 70px; 
  
}


#enviar{
 width: 25%;
 position:relative;
 top: 20px;
 left: 40%;
  
}


input[type="Radio"]{ display: none; }

label#label_foto{
  position: relative;
  display: inline-block;
  height: 48px;
  background: url(IMG/foto.png) no-repeat;
  cursor:pointer;
  width: 16%;
  left: 30%;
}

label#label_video{
  display: inline-block;
  height: 48px;
  background: url(IMG/video.png)  no-repeat;
  cursor:pointer;
  width: 16%;
  float: left;
}
label#label_audio{
  display: inline-block;
  width:15%;
  height: 48px;
  background: url(IMG/audio.png)  no-repeat;
  cursor:pointer;
  float: right;
}

label#label_publico{
  display: inline-block;
  width: 48px;
  height: 48px;
  background: url(IMG/globe.png) no-repeat;
  cursor:pointer;
}

label#label_privado{
  display: inline-block;
  width: 48px;
  height: 48px;
  background: url(IMG/agent.png) no-repeat;
  cursor:pointer;
}

label#label_grupo{
  display: inline-block;
  width: 48px;
  height: 48px;
  background: url(IMG/multi-agents.png)  no-repeat;
  cursor:pointer;
}

/*En un momento inicial las imágenes están a la mitad de la opacidad*/
section#right label{

	filter:alpha(opacity=50);
        -moz-opacity: 0.5;
        opacity: 0.5;
        -khtml-opacity: 0.5;
}

/*Cuando pasamos sobre las imágenes se convierten en opacas*/
section#right label:hover{


	filter:alpha(opacity=100);
        -moz-opacity: 1.0;
        opacity: 1.0;
        -khtml-opacity: 1.0;
}

/*color de letra blanco*/
.blanco {

  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #f3f3f3;
  text-shadow: 1px 1px 1px rgba(0,0,0,.6);
  margin-left:7%;
}